{% extends "index.html" %}

{% block content %}


		<form method = "post" action = ".">
		{% csrf_token %}
		{{ form.request_sku }}
		<input type = "submit" value = "Search"> 
		<div class = "an_aside">(No dashes. Characters and Numbers only.)</div>
		<div class = "an_aside">(Current Libraries: DMI Fairplex, Cherryman Amber and United Stationers)</div>
		</form>
		<div class = "categories">
			<ul>
				<li>Manufacturer:</li>
				<li>Product sku:</li>
				<li>Description:</li>
				<li>List Price:</li>
				<li>Sell Price:</li>
				<li>Shipping:</li>
			</ul>
		</div>
		<div class = "results">
			<ul>
				<li>{{ vendor.name }}</li>	
				<li>{{ item.sku }}</li>
				<li>{{ item.desc }}</li>
				<li>{{ item.list}}</li>
				<li>{{ sell }}</li>
				<li>{{vendor.shipping}}</li>
			</ul>
		</div>
	{% endblock %}	