<html>
<head>
<title>MFC Sales App</title>
{% load staticfiles %}
<link rel="stylesheet" href={% static "mfc.css" %} />
</head>

<body>


<div class = "everything">
	<div class= "logout">
		<a href ="/logout">logout </a>
	</div>
	
	<a href= "/"><h1>MFC Sales App</h1></a>
	
	<div class = "content">
	{% block content %}

	<div class = "choose_site">
		<a href = "/MFC_view">MFC View</a>
	</div>
	<div class = "choose_site">
		<a href = "/customer_view">Customer View</a>
	</div>
	
	<form method = "post" action = ".">
		{% csrf_token %}
		Enter City: <input type="text" name="city_lookup">
		<input type = "submit" value = "Search"> 
	</form>

	
	<div class = "categories">
		<ul>
			<li>City:</li>
			<li>Rate:</li>
			<li>County:</li>
		</ul>
	</div>
	<div class = "results">
		<ul>
			<li>{{ salestax.city }}</li>
			<li>{{ salestax.rate }}</li>
			<li>{{salestax.county}}</li>
		</ul>
	</div>
	{% endblock %}	
</div>

</body>
</html>