<!doctype html>

<html>
<head>
<meta charset="UTF-8">
<title>MFC Sales App</title>
{% load static from staticfiles %}
<link rel="stylesheet" href={% static "mfc.css" %} />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>
{% include 'autocomplete_light/static.html' %}
</head>

<body>


<div class = "everything">
	<div class= "logout">
		<a href ="/logout">logout </a>
	</div>
	
	<a href= "/"><h1>MFC Sales App</h1></a>
	
	<div class = "content">
	{% block content %}

	<div class = "choose_site">
		<a href = "/MFC_view">MFC View</a>
	</div>
	<div class = "choose_site">
		<a href = "/customer_view">Customer View</a>
	</div>
	
	<div class = "tax">
	Sales tax lookup: <br />
	<form method = "post" action = ".">
		{% csrf_token %}
		{{ form.city }}
		<input type = "submit" value = "Search"> 
	</form>
	<br />	

	<div class = "categories">
		<ul>
			<li>City:</li>
			<li>Rate:</li>
			<li>County:</li>
		</ul>
	</div>
	
	<div class = "results">
		<ul>
			<li>{{ salestax.city }}</li>
			<li>{{ salestax.rate }}</li>
			<li>{{salestax.county}}</li>
		</ul>
	</div>
	</div>
	</div>
	{% endblock %}	
</div>



</body>
</html>