{% extends "index.html" %}

{% block content %}

{% load staticfiles %}
{% if view_choice == "MFC_view" %}
	<link rel="stylesheet" href={% static "mfc_view.css" %} />
{% endif %}


		<form method = "post" action = ".">
		{% csrf_token %}
		{{ form.request_sku }}
		<input type = "submit" value = "Search"> 
		<div class = "an_aside">(No dashes. Characters and Numbers only.)</div>
		<div class = "an_aside">(Current Library: <a href = "..">{{ vendor_view_name }} </a> )</div>
		</form>
		<div class = "categories">
			<ul>
				<li> Manufacturer: </li>
				<li> Product sku: </li>
				<li> Description: </li>
				<li> List Price: </li>
				
				{% if view_choice == "MFC_view" %}
					<li> MFC's Cost: </li>
				{% endif %}
				
				<li> Sell Price: </li>
				
				{% if view_choice == "MFC_view" %}
					<li> Mark-up: </li>
				{% endif %}
				
				<li> Shipping: </li>
			</ul>
		</div>
		<div class = "results">
			<ul>
				<li> {{ vendor.name }} </li>		
				<li> {{ item.sku }} </li>
				<li> {{ item.desc }} </li>
				<li> {{ item.list}} </li>
				
				{% if view_choice == "MFC_view" %}
					<li> {{ item.cost }} </li>
				{% endif %}
				
				<li> {{ sell }} </li>
				{% if view_choice == "MFC_view" %}
					<li> {{ vendor.multy }} </li>
				{% endif %}
				
				<li> {{vendor.shipping}} </li>
			</ul>
		</div>
	{% endblock %}	